button.contained-button {
    color: #fff;
    background-color: #6364a8;
    padding: 10px 30px;
    font-size: 15px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #6364a8;
}

button.outline-button {
    color: #fff;
    background-color: #292827;
    border: 0.15px solid #82817f;
    padding: 10px 30px;
    font-size: 15px;
    margin: 0 10px;
    border-radius: 4px;
}

button.contained-button:hover {
    background-color: rgb(139, 140, 199);
    border: 1px solid rgb(139, 140, 199);
    color: rgb(255, 255, 255);
}

button.outline-button:hover {
    background-color: rgb(59, 58, 58);
    color: rgb(255, 255, 255);
    border-color: rgb(96, 94, 92);
}

button.contained-button:active {
    background-color: rgb(70, 71, 117);
    border: 1px solid rgb(70, 71, 117);
    color: rgb(255, 255, 255);
    box-shadow: none;
}

button.outline-button:active {
    background-color: rgb(72, 70, 68);
    color: rgb(255, 255, 255);
    border-color: rgb(96, 94, 92);
    box-shadow: none;
}
