@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: grid;
    padding: 0px 10px 0px 10px;
    align-items: center;
    background-color: #0a0a0a;
    grid-template-columns: auto 70px 70px;
    color: #fff;
}

.sidebar-wrapper {
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 350px;
    height: calc(100vh - 70px);
    background-color: #141414;
    color: #fff;
}

img.nav-logo {
    height: 50px;
}

.nav-title-and-logo {
    display: grid;
    grid-template-columns: 90px auto;
    align-items: center;
}

.nav-title {
    padding: 0;
    font-size: 18px;
}

img#profile-picture {
    height: 40px;
    border-radius: 100%;
}

.nav-profile-dropdown-title.dropdown-title {
    display: grid;
}
