.snackbar-wrapper {
    font-size: 0.875rem;
    letter-spacing: 0.2px;
    align-items: center;
    background-color: #202124;
    border: none;
    border-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    left: 0;
    margin: 24px;
    max-width: 640px;
    min-height: 52px;
    padding: 8px 24px;
    padding-right: 30px;
    position: fixed;
    right: auto;
    text-align: left;
    top: auto;
    white-space: normal;
    width: fit-content;
    transition: 0.2s ease-in-out;
}

.snackbar-surface {
    display: grid;
    grid-template-columns: 1fr auto;
}

.snackbar-action {
    margin-left: 70px;
    color: #8ab4f8;
    text-transform: capitalize;
    cursor: pointer;
    align-self: center;
}
