.filled-textfield {
    padding: 8px 16px;
    border: none;
    background-color: #00000036;
    border-bottom: 2px solid #232323;
    border-radius: 2px;
    color: white;
}

.filled-textfield:focus {
    outline: none;
    border-bottom: 2px solid #6364a8;
}
