<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Microsoft Teams Clone</title>

        <link rel="stylesheet" href="css/loader.css" />
        <link rel="stylesheet" href="css/home.css" />
        <link rel="stylesheet" href="css/snackbar.css" />
        <link rel="stylesheet" href="css/switch.css" />
        <link rel="stylesheet" href="css/dropdown.css" />
        <link rel="stylesheet" href="css/dialogue.css" />
        <link rel="stylesheet" href="css/buttons.css" />
        <link rel="stylesheet" href="css/textfields.css" />
        <link rel="stylesheet" href="css/chips.css" />

        <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
        <script src="js/snackbar.js"></script>
        <script src="js/firebase.js"></script>
        <script src="js/api.js"></script>
        <script src="js/dropdown.js"></script>
        <script src="js/dialogue.js"></script>
        <script src="js/chipset.js"></script>
    </head>
    <body>
        <div class="nav-wrapper">
            <div class="navbar">
                <div class="nav-title-and-logo nav-item">
                    <img src="images/teams_logo.png" alt="" class="nav-logo" />
                    <div class="nav-title">Microsoft Teams Clone</div>
                </div>
                <div class="nav-profile nav-item">
                    <div class="nav-profile-dropdown dropdown-wrapper">
                        <div class="nav-profile-dropdown-title dropdown-title">
                            <img class="nav-profile-image dropdown-title-mask" id="profile-picture" />
                        </div>
                        <div class="nav-profile-dropdown-content dropdown-content">
                            <div id="profile" class="dropdown-content-item">Profile</div>
                            <div id="new-team" class="dropdown-content-item">New Team</div>
                            <div id="logout" class="dropdown-content-item">Logout</div>
                        </div>
                    </div>
                </div>
                <div class="nav-theme nav-item">
                    <div class="nav-theme-switch">
                        <label class="switch">
                            <input type="checkbox" name="theme" id="theme-switch" />
                            <span class="switch-slider"></span>
                        </label>
                    </div>
                    <div class="nav-current-theme"></div>
                </div>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <div class="sidebar-content sidebar-open">
                <div class="sidebar-content-title">Teams</div>
                <div class="sidebar-content-item">Team 1</div>
                <div class="sidebar-content-item">Team 2</div>
                <div class="sidebar-content-item">Team 3</div>
            </div>
        </div>

        <!-- <div class="dialogue-box-wrapper">
            <div class="dialogue-box">
                <div class="dialogue-box-head">
                    <span class="dialogue-box-title">Create a Team</span>
                </div>
                <div class="dialogue-box-content"></div>
                <div class="dialogue-box-footer">
                    <button class="outline-button" id="dialogue-cancle-button">Cancle</button>
                    <button class="contained-button" id="dialogue-submit-button">Submit</b  utton>
                </div>
            </div>
        </div> -->

        <div id="loader" class="loader-wrapper">
            <div class="loader-content">
                <img src="images/teams_logo.png" alt="Microsoft Teams Clone" class="loader-image" />
            </div>
        </div>

        <script>
            const autocomplete = (inp, arr, additionalClassName) => {
                let currentFocus, id;
                inp.addEventListener("input", e => {
                    let a,
                        b,
                        i,
                        val = e.target.value;
                    id = e.target.id;
                    closeAllLists();
                    if (!val) {
                        return false;
                    }
                    currentFocus = -1;
                    a = document.createElement("DIV");
                    a.setAttribute("id", e.target.id + "-autocomplete-list");
                    a.setAttribute("class", "autocomplete-items " + additionalClassName);
                    e.target.parentNode.appendChild(a);
                    for (i = 0; i < arr.length; i++) {
                        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            b = document.createElement("DIV");
                            b.className = additionalClassName;
                            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                            b.addEventListener("click", e => {
                                inp.value = e.target.getElementsByTagName("input")[0].value;
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });
                inp.addEventListener("keydown", e => {
                    let x = document.getElementById(id + "-autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        currentFocus++;
                        addActive(x);
                    } else if (e.keyCode == 38) {
                        currentFocus--;
                        addActive(x);
                    } else if (e.keyCode == 13) {
                        e.preventDefault();
                        if (currentFocus > -1) {
                            if (x) x[currentFocus].click();
                        }
                    }
                });
                const addActive = x => {
                    if (!x) return false;
                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = x.length - 1;
                    x[currentFocus].classList.add("autocomplete-active");
                };
                const removeActive = x => {
                    for (let i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                };
                const closeAllLists = elmnt => {
                    let x = document.getElementsByClassName("autocomplete-items");
                    for (let i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                };
                document.addEventListener("click", e => {
                    closeAllLists(e.target);
                });
            };

            const profileColors = [
                { backgroundColor: "ef9a9a", textColor: "b71c1c" },
                { backgroundColor: "9fa8da", textColor: "1a237e" },
                { backgroundColor: "90caf9", textColor: "0d47a1" },
                { backgroundColor: "80cbc4", textColor: "004d40" },
                { backgroundColor: "a5d6a7", textColor: "1b5e20" },
                { backgroundColor: "ffcc80", textColor: "e65100" },
                { backgroundColor: "ffab91", textColor: "bf360c" },
                { backgroundColor: "bcaaa4", textColor: "3e2723" },
            ];
            let currentUser = null;

            const buildProfilePicture = () => {
                const colorCombinationIndex = Math.floor(Math.random() * profileColors.length);
                let profileName = currentUser.name;
                profileName = profileName.replaceAll(" ", "%20");
                const { backgroundColor, textColor } = profileColors[colorCombinationIndex];
                const profilePictureURL = `https://ui-avatars.com/api/?name=${profileName}&font-size=0.33&size=64&background=${backgroundColor}&color=${textColor}`;
                document.getElementById("profile-picture").src = profilePictureURL;
            };

            let hello = null;

            const createNewTeam = async e => {
                // create and build a popup
                const container = new PopupDialogueBox("Create a new Team");
                container.addContent(`<input type="text" name="Team title" id="team-title" class="filled-textfield dialogue-content-item team-title" placeholder="Name of the team" />
                                      <div class="dialogue-content-item chips"></div>
                                      <input type="text" name="Team title" id="member-name" class="filled-textfield dialogue-content-item member-name" placeholder="Add a member" />
                                    `);

                const chipsRoot = container.domRoot.getElementsByClassName("chips")[0];
                const chipset = new Chipset(chipsRoot, "dialogue-content-item");
                hello = chipset;
                const userList = await getUserList();
                autocomplete(container.domRoot.getElementsByClassName("member-name")[0], userList.users, "dialogue-content-item");
                container.domRoot.getElementsByClassName("member-name")[0].addEventListener("keydown", e => {
                    if (e.keyCode == 13) {
                        const name = e.target.value;
                        if (userList.users.indexOf(name) === -1) return false;
                        chipset.addChip(name);
                        e.target.value = "";
                    }
                });
            };

            const addEventListners = () => {
                const newTeam = document.getElementById("new-team");
                newTeam.addEventListener("click", createNewTeam);
            };

            const disableLoader = () => document.getElementById("loader").remove();

            window.onload = async () => {
                initializeFirebaseApp();

                if (await userLoggedIn()) currentUser = await getCurrentUser();
                else window.location.href = "/login";

                buildProfilePicture();
                addEventListners();
                document.title += " - " + currentUser.name;

                disableLoader();
                createNewTeam(null);
            };
        </script>
    </body>
</html>
