<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Microsoft Teams Clone -&nbsp;</title>

        <link rel="stylesheet" href="css/home.css" />
        <link rel="stylesheet" href="css/snackbar.css" />
        <link rel="stylesheet" href="css/switch.css" />

        <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
        <script src="js/snackbar.js"></script>
        <script src="js/firebase.js"></script>
        <script src="js/api.js"></script>
        <script src="js/dropdown.js"></script>
    </head>
    <body>
        <div class="nav-wrapper">
            <div class="navbar">
                <div class="nav-title-and-logo nav-item">
                    <img src="images/teams_logo.png" alt="" class="nav-logo" />
                    <div class="nav-title">Microsoft Teams Clone</div>
                </div>
                <div class="nav-profile nav-item">
                    <div class="nav-profile-dropdown dropdown-wrapper">
                        <div class="nav-profile-dropdown-title dropdown-title">
                            <img class="nav-profile-image dropdown-title-mask" id="profile-picture" />
                        </div>
                        <div class="nav-profile-dropdown-content dropdown-content">
                            <div id="profile" class="dropdown-content-item">Profile</div>
                            <div id="logout" class="dropdown-content-item">Logout</div>
                        </div>
                    </div>
                </div>
                <div class="nav-theme nav-item">
                    <div class="nav-theme-switch">
                        <label class="switch">
                            <input type="checkbox" name="theme" id="theme-switch" />
                            <span class="switch-slider"></span>
                        </label>
                    </div>
                    <div class="nav-current-theme"></div>
                </div>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <div class="sidebar-content sidebar-open">
                <div class="sidebar-content-title">Teams</div>
                <div class="sidebar-content-item">Team 1</div>
                <div class="sidebar-content-item">Team 2</div>
                <div class="sidebar-content-item">Team 3</div>
            </div>
        </div>

        <script>
            const profileColors = [
                { backgroundColor: "ef9a9a", textColor: "b71c1c" },
                { backgroundColor: "9fa8da", textColor: "1a237e" },
                { backgroundColor: "90caf9", textColor: "0d47a1" },
                { backgroundColor: "80cbc4", textColor: "004d40" },
                { backgroundColor: "a5d6a7", textColor: "1b5e20" },
                { backgroundColor: "ffcc80", textColor: "e65100" },
                { backgroundColor: "ffab91", textColor: "bf360c" },
                { backgroundColor: "bcaaa4", textColor: "3e2723" },
            ];
            let currentUser = null;

            const buildProfilePicture = () => {
                const colorCombinationIndex = Math.floor(Math.random() * profileColors.length);
                let profileName = currentUser.name;
                profileName = profileName.replaceAll(" ", "%20");
                const { backgroundColor, textColor } = profileColors[colorCombinationIndex];
                const profilePictureURL = `https://ui-avatars.com/api/?name=${profileName}&font-size=0.33&size=64&background=${backgroundColor}&color=${textColor}`;
                document.getElementById("profile-picture").src = profilePictureURL;
            };

            window.onload = async () => {
                initializeFirebaseApp();

                if (await userLoggedIn()) currentUser = await getCurrentUser();
                else window.location.href = "/login";

                buildProfilePicture();
            };
        </script>
    </body>
</html>
