<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Login</title>

        <link rel="stylesheet" href="css/login.css" />
        <link rel="stylesheet" href="css/snackbar.css" />

        <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
        <script src="js/snackbar.js"></script>
        <script src="js/firebase.js"></script>
        <script src="js/api.js"></script>
    </head>
    <body>
        <div class="login-wrapper">
            <div class="login-container">
                <img src="/images/teams_logo.png" alt="" class="teams-logo" />
                <span class="login-title">Login</span>
                <br />
                <input type="email" name="email" id="email" class="textfield" placeholder="Email" />
                <input type="password" name="password" id="password" class="textfield" placeholder="Password" />
                <span class="sign-up-text">Don't have a account <a href="/signup" class="sign-up">Sign Up</a></span>
                <div class="login-buttons">
                    <button class="login-button">Login&nbsp;&nbsp;→</button>
                    <button class="login-button">Login with Google&nbsp;&nbsp;→</button>
                </div>
            </div>
        </div>

        <script>
            const login_button = document.getElementsByClassName("login-button")[0];
            const google_login_button = document.getElementsByClassName("login-button")[1];
            const email_field = document.getElementById("email");
            const password_field = document.getElementById("password");

            const login = e => {
                const email = email_field.value;
                const password = password_field.value;

                if (email.indexOf("@") == -1 || email.indexOf(" ") != -1 || email.indexOf(".") == -1 || email.length == 0) {
                    createSnackbar(snackbarTimeMedium, "Invalid Email Adress");
                    return;
                }

                loginWithEmailAndPassword(
                    email,
                    password,
                    err => createSnackbar(snackbarTimeMedium, "Login failed: Invalid email or password"),
                    () => (window.location.href = "/home")
                );
            };

            const googleLogin = () => {
                loginWithGoogle(
                    () => createSnackbar(snackbarTimeMedium, "Login failed, please try again"),
                    async credentials => {
                        if (credentials.additionalUserInfo.isNewUser) {
                            const { email, name } = credentials.additionalUserInfo.profile;
                            const password = "____GOOGLE_SIGNIN_PASSWORD_HIDDEN____";
                            const serverResponse = await createUser(email, password, name);
                            console.log(serverResponse);
                        }
                        // window.location.href = "/home";
                    }
                );
            };

            window.onload = () => {
                initializeFirebaseApp();

                if (userLoggedIn) window.location.href = "/home";

                login_button.addEventListener("click", login);
                email_field.addEventListener("keyup", e => {
                    if (e.keyCode == 13) login(e);
                });
                password_field.addEventListener("keyup", e => {
                    if (e.keyCode == 13) login(e);
                });
                google_login_button.addEventListener("click", googleLogin);
            };
        </script>
    </body>
</html>
