<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Signup</title>

        <link rel="stylesheet" href="css/signup.css" />
        <link rel="stylesheet" href="css/snackbar.css" />

        <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
        <script src="js/components/snackbar.js"></script>
        <script src="js/firebase.js"></script>
        <script src="js/api.js"></script>
    </head>
    <body>
        <div class="signup-wrapper">
            <div class="signup-container">
                <img src="/images/teams_logo.png" alt="" class="teams-logo" />
                <span class="signup-title">Sign Up</span>
                <br />
                <input type="text" name="name" id="name" class="textfield" placeholder="Name" />
                <input type="email" name="email" id="email" class="textfield" placeholder="Email" />
                <input type="password" name="password" id="password" class="textfield" placeholder="Password" />
                <span class="login-text">Already have a account? <a href="/signup" class="sign-up">Login</a></span>
                <div class="signup-buttons">
                    <button class="signup-button">Sign up&nbsp;&nbsp;→</button>
                    <button class="signup-button">Sign up with Google&nbsp;&nbsp;→</button>
                </div>
            </div>
        </div>

        <script>
            const signup_button = document.getElementsByClassName("signup-button")[0];
            const google_signup_button = document.getElementsByClassName("signup-button")[1];
            const email_field = document.getElementById("email");
            const password_field = document.getElementById("password");
            const name_field = document.getElementById("name");
            const fields = document.getElementsByClassName("textfield");

            const signup = e => {
                const email = email_field.value;
                const password = password_field.value;
                const name = name_field.value;

                if (name.length == 0) {
                    createSnackbar(snackbarTimeMedium, "Please Enter your name");
                    return;
                }

                if (email.indexOf("@") == -1 || email.indexOf(" ") != -1 || email.indexOf(".") == -1 || email.length == 0) {
                    createSnackbar(snackbarTimeMedium, "Invalid Email Adress");
                    return;
                }

                if (password.length < 4) {
                    createSnackbar(snackbarTimeMedium, "Password is too short");
                    return;
                }

                createUserWithEmailAndPassword(
                    name,
                    email,
                    password,
                    err => createSnackbar(snackbarTimeMedium, err.message),
                    () =>
                        loginWithEmailAndPassword(
                            email,
                            password,
                            err => createSnackbar(snackbarTimeMedium, err.message),
                            () => {
                                window.location.href = "/home";
                            }
                        )
                );
            };

            const googleSignup = () => {
                loginWithGoogle(
                    () => createSnackbar(snackbarTimeMedium, "Signup failed, please try again"),
                    async credentials => {
                        if (credentials.additionalUserInfo.isNewUser) {
                            const { email, name } = credentials.additionalUserInfo.profile;
                            const password = "____GOOGLE_SIGNIN_PASSWORD_HIDDEN____";
                            const serverResponse = await createUser(email, password, name);
                        }
                        window.location.href = "/home";
                    }
                );
            };

            window.onload = () => {
                initializeFirebaseApp();
                if (userLoggedIn()) window.location.href = "/home";

                signup_button.addEventListener("click", signup);
                google_signup_button.addEventListener("click", googleSignup);

                for (let i = 0; i < fields.length; i++) {
                    const field = fields[i];
                    field.addEventListener("keydown", e => {
                        if (e.keyCode == 13) signup(e);
                    });
                }
            };
        </script>
    </body>
</html>
