.chip-wrapper {
    background: #0000002b;
    padding: 8px 20px;
    display: flex;
    width: fit-content;
    margin: 8px;
    border-radius: 100px;
    align-items: center;
    cursor: pointer;
}

img.chip-close {
    width: 16px;
    filter: brightness(100);
}

.chip-title {
    font-size: 13px;
    margin-right: 10px;
}

.chip-wrapper:hover {
    background: #00000066;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0px;
}
