.dropdown-title {
    cursor: pointer;
}

.dropdown-content-item {
    padding: 8px 16px;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content {
    position: absolute;
    height: fit-content;
    min-width: 130px;
    margin-top: 20px;
    background: grey;
    padding: 8px 0;
    display: none;
}
